
{% extends 'base.html' %}
{% load cache %}

{% block title %}
<title>About - ZheBlog</title>
{% endblock title %}


{% block header %}
{% include 'nav-note.html' %}
{% include 'side-nav.html' %}
{% endblock header %}

{% cache 604800 about %}
{% block main %}
<br>
<br>
<div class="container">
    <div class="row"> 
          <div class="card hoverable">
              <div class="card-content"> 
                  {{ about|safe }}
                  </div>
              </div>
    </div>
    </div>
<br>
<br>
{% endblock main %}
{% endcache %}

{% block footer %}
{% include 'footer.html' %}
{% endblock footer %}
