{% extends 'base.html' %}

{% block title %}
<title>
    {% if status_code == 404 %}
    404 Not Found
    {% elif status_code == 403 %}
    403 Permission Denied
    {% elif status_code == 500 %}
    500 Server Error
    {% else %}
    Error
    {% endif %}
    - ZheBlog
</title>
{% endblock title %}

{% block header %}

{% include 'nav-note.html' %}
{% include 'side-nav.html' %}
{% endblock header %}

{% block main %}
<br><br>
<div class="container">
    <div class="row">
        <div class="card hoverable">
            <div class="card-content">
                <div class="care-title center">
                    {% if status_code == 404 %}
                    <h4>404 Not Found</h4>>
                    <i class="large material-icons">help</i>
                    {% elif status_code == 403 %}
                    <h4>403 Permission Denied</h4>
                    <i class="large material-icons">not_interested</i>
                    {% elif status_code == 500 %}
                    <h4>500 Server Error</h4>
                    <i class="large material-icons">bug_report</i>
                    {% else %}
                    <h4>Error</h4>
                    <i class="large material-icons">error</i>
                    {% endif %}
                </div>

                <p>{{ message }}</p>
            </div>
            <div class="card-action">
                <a href="{% url 'home:home' %}"><i
                        class="material-icons">home</i></a>
            </div>

        </div>
    </div>
</div>
<br>
<br>

{% endblock main %}

{% block footer %}
{% include 'footer.html' %}
{% endblock footer %}

