asn1crypto==0.24.0
bcrypt==3.1.4
certifi==2018.1.18
cffi==1.11.4
chardet==3.0.4
cryptography==2.1.4
Django==1.8.2
django-ckeditor==5.6.1
django-haystack==2.7.0
django-js-asset==1.0.0
django-materialize-css==0.0.1
django-redis==4.4.4
django-simditor==0.0.10
idna==2.6
jieba==0.39
Pillow==5.0.0
pyasn1==0.4.2
pycparser==2.18
PyNaCl==1.2.1
pytz==2018.5
redis==2.10.6
requests==2.18.4
six==1.11.0
urllib3==1.22
Whoosh==2.7.4
uWSGI
