{% load staticfiles %}

<!DOCTYPE html>
<html lang="zh-cn">
    <head>
        <meta charset="utf-8" name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
        {% block title %}
        {% endblock title %}
        <link rel="shortcut icon" href="{%　static 'images/favicon.ico' %}">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--link rel="stylesheet" href="{% static 'css/materialize.min.css' %}"-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
        <!--script src="{% static 'js/jquery-3.3.1.js' %}"></script-->
        <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
        <!--script src="https://code.jquery.com/jquery-2.1.1.min.js"></script-->
        <!--script src="{% static 'js/materialize.min.js' %}"></script-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
        <style>
            .overflow2 {
                overflow:hidden; 

                text-overflow:ellipsis;

                display:-webkit-box; 

                -webkit-box-orient:vertical;

                -webkit-line-clamp:2;
            }
            .overflow1 {
                overflow:hidden;

                text-overflow:ellipsis;

                white-space:nowrap;
            }
            {% block style %}
            {% endblock style %}
        </style>
    </head>
    <body>

        <header>
            {% block header %}
            {% endblock header %}
        </header>

        <main>
            {% block main %}
            {% endblock main %}
        </main>

        {% block footer %}
        {% endblock footer %}

    </body>
</html>

