{% load staticfiles %}
<style>

    .input-field label {
        color: #000;
   }

    .input-field input[type=text]:focus + label {
        color: #000;
   }

   .input-field input[type=text]:focus {
        border-bottom: 1px solid #000;
        box-shadow: 0 1px 0 0 #000;
   }

   .input-field input[type=text].valid {
        border-bottom: 1px solid #000;
        box-shadow: 0 1px 0 0 #000;
   }

   .input-field input[type=text].invalid {
        border-bottom: 1px solid #000;
        box-shadow: 0 1px 0 0 #000;
   }

   .input-field .prefix.active {
        color: #000;
   }
   .card-content {
        padding:0px 24px;
   }
    @media all and (max-width: 600px) {
        .avatar { display:none; }
    }
    img {
        max-width: 100%;
    }

</style>
<link href="https://cdn.bootcss.com/simditor/2.3.6/styles/simditor.min.css" rel="stylesheet">
<!--link rel="stylesheet" type="text/css" href="{% static 'simditor/styles/simditor.css' %}" /-->
<link rel="stylesheet" type="text/css" href="{% static 'simditor/styles/simditor-emoji.css' %}" />

{% include '_comments.html' %}

<script type="text/javascript" src="{% static 'simditor/scripts/module.min.js' %}"></script>
<script type="text/javascript" src="{% static 'simditor/scripts/hotkeys.min.js' %}"></script>
<script type="text/javascript" src="{% static 'simditor/scripts/simditor.js' %}"></script>
<script type="text/javascript" src="{% static 'simditor/scripts/simditor-mark.js' %}"></script>
<script type="text/javascript" src="{% static 'simditor/scripts/simditor-emoji.js' %}"></script>
<!--script src="https://cdn.bootcss.com/simditor/2.3.6/lib/simditor.min.js"></script-->



