{% load staticfiles %}
<style>

    .input-field label {
        color: #000;
   }

    .input-field input[type=text]:focus + label {
        color: #000;
   }

   .input-field input[type=text]:focus {
        border-bottom: 1px solid #000;
        box-shadow: 0 1px 0 0 #000;
   }

   .input-field input[type=text].valid {
        border-bottom: 1px solid #000;
        box-shadow: 0 1px 0 0 #000;
   }

   .input-field input[type=text].invalid {
        border-bottom: 1px solid #000;
        box-shadow: 0 1px 0 0 #000;
   }

   .input-field .prefix.active {
        color: #000;
   }
   .card-content {
        padding:0px 24px;
   }
    @media all and (max-width: 600px) {
        .avatar { display:none; }
    }
    img {
        max-width: 100%;
    }

</style>
<link href="https://cdn.bootcss.com/simditor/2.3.6/styles/simditor.min.css" rel="stylesheet">
<!--link rel="stylesheet" type="text/css" href="{% static 'simditor/styles/simditor.css' %}" /-->
<link rel="stylesheet" type="text/css" href="{% static 'simditor/styles/simditor-emoji.css' %}" />

<div class="row" id="comment_post">
        <div class="card hoverable">
            <div class='card-content'>
                共有<span style="font-weight: bold;">{{ post.comment_set.all.count }}</span>条评论<br>
                {% if user.is_authenticated %}
                    正在评论文章:<span style="font-weight: bold;">{{ post.title }}</span>
                    <form action="{% url 'comment:post_comment' post.pk 0 %}" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="input-field col s12">
                                {{ form.text }}
                                {{ form.text.errors }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <button type="submit" class="waves-effect waves-light btn">评论</button>
                            </div>
                        </div>
                    </form>
                {% else %}
                    <div class="container center">
                        <a class="waves-effect waves-light btn" href="{% url 'account:login' %}?next={{ request.path }}">登录</a>
                        发表评论
                    </div>
                {% endif %}
            </div>
        </div>
</div>

{% for comment_parent, comment_childs in comment_list %}
    <div class="row">
            <div class="card hoverable" style="padding-bottom:10px;">
                <div class="card-content" id="{{ comment_parent.pk }}" style="padding:24px 24px 0px 24px;">
                    <div class="row" style="margin:0px;">
                        <div class="avatar col s1" style="padding:0px;">
                            <img src="{{ comment_parent.user.avatar_url }}">
                        </div>
                        <div class="col s11">
                            <span style="font-weight: bold;">{{ comment_parent.user }} 评论说:</span>
                            <br>
                            <i class="material-icons" style="vertical-align:middle;">schedule</i>
                            <span style="vertical-align:middle;">{{ comment_parent.created_time }}</span>
                            <br>
                            <br>
                            {% if comment_parent.enable %}
                                {{ comment_parent.text|safe }}
                            {% else %}
                                <span class="center">该评论已屏蔽</span>
                            {% endif %}
                        </div>
                    </div>
                    {% if user.is_authenticated %}
                        <a class="comment_replay" id="{{ comment_parent.pk }}">
                            <i class="material-icons" style="vertical-align:middle;">sms</i>
                        </a>
                        {% if user.is_superuser %}
                            <a class="post">
                            <form action="{% url 'comment:comment_enable' comment_parent.pk %}" method="post" style="display:none;">
                                {% csrf_token %}
                            </form>
                                {% if comment_parent.enable %}
                                    <i class="material-icons" style="vertical-align:middle;">visibility</i>
                                {% else %}
                                    <i class="material-icons" style="vertical-align:middle;">visibility_off</i>
                                {% endif %}
                            </a>
                        {% endif %}
                        {% if user == command_parent.user or user.is_superuser %}
                            <a class="post">
                            <form action="{% url 'comment:comment_delete' comment_parent.pk %}" method="post" style="display:none;">
                                {% csrf_token %}
                            </form>
                                <i class="material-icons" style="vertical-align:middle;">delete</i>
                            </a>
                        {% endif %}
                    {% else %}
                        <a href="{% url 'account:login' %}?next={{ request.path }}">
                            <i class="material-icons" style="vertical-align:middle;">sms</i>
                        </a>
                    {% endif %}
                    <div class="divider"></div>
                </div>
                {% if user.is_authenticated %}
                    <div class="row" attr="replay_comment" id="{{ comment_parent.pk }}" style="display: none;">
                        <div class="col s12">
                            <div class="card hoverable">
                                <div class='card-content'>
                                    <span>正在回复{{ comment_parent.user }}:</span>
                                    <form action="{% url 'comment:post_comment' post.pk comment_parent.pk %}" method="post">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="input-field col s12">
                                                {{ form.text }}
                                                {{ form.text.errors }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col s12">
                                                <button type="submit" class="waves-effect waves-light btn">评论</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}

                {% for comment in comment_childs %}
                    <div class="row" id="{{ comment.pk }}"style="margin:5px;">
                        <div class="col s11 offset-s1">
                            <div class="card-content" id="{{ comment.pk }}" style="padding:0px 24px 0px 0px;">
                                <div class="row" style="margin:0px;">
                                    <div class="avatar col s1" style="padding:0px;">
                                        <img src="{{ comment.user.avatar_url }}">
                                    </div>
                                    <div class="col s11">
                                        <span style="font-weight:bold;">
                                            {{ comment.user }} 回复 {{ comment.parent_comment.user }}:
                                        </span>
                                        <br>
                                        <i class="material-icons" style="vertical-align:middle;">schedule</i>
                                        <span style="vertical-align:middle;">{{ comment.created_time }}</span>
                                        <br>
                                        <br>
                                        {% if comment.enable %}
                                            {{ comment.text|safe }}
                                        {% else %}
                                            <span>该评论已屏蔽</span>
                                        {% endif %}
                                    </div>
                                </div>
                                {% if user.is_authenticated %}
                                    <a class="comment_replay" id="{{ comment.pk }}">
                                        <i class="material-icons" style="vertical-align:middle;">sms</i>
                                    </a>
                                    {% if user.is_superuser %}
                                        <a class="post">
                                        <form action="{% url 'comment:comment_enable' comment.pk %}" method="post" style="display:none;">
                                            {% csrf_token %}
                                        </form>
                                            {% if comment.enable %}
                                                <i class="material-icons" style="vertical-align:middle;">visibility</i>
                                            {% else %}
                                                <i class="material-icons" style="vertical-align:middle;">visibility_off</i>
                                            {% endif %}
                                        </a>
                                    {% endif %}
                                    {% if user == command_parent.user or user.is_superuser %}
                                        <a class="post">
                                        <form action="{% url 'comment:comment_delete' comment.pk %}" method="post" style="display:none;">
                                            {% csrf_token %}
                                        </form>
                                            <i class="material-icons" style="vertical-align:middle;">delete</i>
                                        </a>
                                    {% endif %}
                                {% else %}
                                    <a href="{% url 'account:login' %}?next={{ request.path }}">
                                        <i class="material-icons" style="vertical-align:middle;">sms</i>
                                    </a>
                                {% endif %}
                                <div class="divider"></div>
                            </div>
                        </div>
                    </div>
                    {% if user.is_authenticated %}
                        <div class="row" attr="replay_comment" id="{{ comment.pk }}" style="display: none;">
                            <div class="col s12">
                                <div class="card hoverable">
                                    <div class='card-content'>
                                        <span>正在回复{{ comment.user }}:</span>
                                        <form action="{% url 'comment:post_comment' post.pk comment.pk %}" method="post">
                                            {% csrf_token %}
                                            <div class="row">
                                                <div class="input-field col s12">
                                                    {{ form.text }}
                                                    {{ form.text.errors }}
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col s12">
                                                    <button type="submit" class="waves-effect waves-light btn">评论</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
    </div>
{% endfor %}

<script type="text/javascript" src="{% static 'simditor/scripts/module.min.js' %}"></script>
<script type="text/javascript" src="{% static 'simditor/scripts/hotkeys.min.js' %}"></script>
<script type="text/javascript" src="{% static 'simditor/scripts/simditor.js' %}"></script>
<script type="text/javascript" src="{% static 'simditor/scripts/simditor-mark.js' %}"></script>
<script type="text/javascript" src="{% static 'simditor/scripts/simditor-emoji.js' %}"></script>
<!--script src="https://cdn.bootcss.com/simditor/2.3.6/lib/simditor.min.js"></script-->

<script>

$(document).ready(function(){
    $(".simditor").each(function(index, dom){
        new Simditor({
            toolbar:['title','bold','italic','underline','strikethrough','color','mark' ,'ol','blockquote','code','link','image','hr','alignment','emoji'],
            emoji:{
                imagePath:"{% static 'simditor/emoji/' %}",
            },
            textarea:$(dom),
            toolbarFloat: true,
            toolbarFloatOffset: 0
        })
    });
        
    $("a.comment_replay").click(function(){
        var id = String($(this).attr('id'));
        $("div[class='row'][attr='replay_comment'][id="+id+']').slideToggle(500,function(){});
    });

    $("a.post").attr({
        'onclick':"$(this).children().submit();",
        'href': "javascript:void(0);"
    });
});

</script>

