{% load staticfiles %}
<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Zhe的个人小站</h5>
                <p class="grey-text text-lighten-4">这是一个基于Django和Materialize-UI的个人博客</p>
                <a class="grey-text text-lighten-3" href="https://github.com/huazhaozhe" target="_blank"><img class="type" src="{% static 'images/github.png' %}" alt="GITHUB" widgth="38" height="38" /></a>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">相关链接</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="http://materializecss.com/" target="_blank">MaterializeCss</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://docs.djangoproject.com/en/1.8/" target="_blank">Django1.8</a></li>                  
                  <li><a class="grey-text text-lighten-3" href="http://icon.okgoes.com/" target="_blank">Material icons</a></li>


                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Copyright © 2018 Zhe. All Rights Reserved. 
            <!--a class="grey-text text-lighten-4 right" href="#!">更多链接</a-->
        </div>
    </div>
</footer>
